@import '../../Public/css/utils.scss';

.sidebar__content {
  padding: 20px;
  ul {
    //@extend %flex-vertical-center;
    border-right: 0;
  }
  li {
    width: 100%;
    margin-bottom: 16px;
    a {
      display: block;
    }
  }
}
