@import '../../Public/css/utils.scss';

.picture__content {
  padding: 20px;
}

#drag-area {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  border-bottom: 1px solid $borderColor;
  font-size: 52px;
  color: $directColor;
  @extend %flex-center;
}

.image__list {
  @extend %flex-center;

}

.image__items {
  flex: 1;
  padding: $paddingWidth;
  img {
    width: 100%;
  }
}