@import './utils';
@import '~antd/dist/antd.css';

.App {
}

.main__content {
  min-height: 100vh;
  @extend %flex-center-between;
  background-color: $darkColor-2;
  .sidebar {
    height: 100vh;
    width: $sidebarWidth;
    padding-top: $titleHeight;
    .ant-menu.ant-menu-dark .ant-menu-item-selected {
      background-color:$tc;
      a{
        color:#030202;
      }
    }
  }
  .subject {
    flex: 1;
    padding: $paddingWidth;
    padding-top: $titleHeight-content;
    height: 100vh;
  }
}