@import './mixin.scss';
@import './transition.scss';

/** theme Color START*/
$tc: #ffcc01;
$titleHeight: 65px;
$titleHeight-content: 85px;
$sidebarWidth: 256px;
$paddingWidth: 15px;
$directColor: #eaeaea;
$borderColor: rgba(0, 0, 0, 0.14);
$backgroundColor: rgba(0, 0, 0, 0.14);
$txtColor: #ff5252;
$contentColor: rgba(0, 0, 0, 0.87);
$pColor: rgba(0, 0, 0, 0.54);
$bg-Color: rgba(33, 33, 33, 1.0);

$darkBtn: #737373;
$darkBtnHover: #a09e9e;

$darkColor: #404040;
$darkColor-2: rgba(0, 0, 0, 0.66);
$darkTitle: rgba(51, 51, 51, 0.8);
$darkInput: rgba(119, 119, 119, 0.4);
$darkInputTxt: #eadada;

/** theme Color END*/
$d-color: #1AC8B5;
$m-color: #58E5BA;
$s-color: #92DCBE;
$input-color: #f0f0f0;

$ns: rgba(0, 0, 0, 0.54);
$nt: rgba(0, 0, 0, 0.87);
$bc: rgba(0, 0, 0, 0.14);
/* Colors */
$tint: #9574E4;
$tint-mall: #FD6782;
$tint-forum: #FFCA28;
$danger: #FF5454;
$heading: #262626;
$content: #505050;
$label: #B9B9B9;
$input-bg: #F9F9F9;
$text-df: #333;
$dropback-light: rgba(255, 255, 255, .5);
$dropback-dark: rgba(0, 0, 0, .5);
/* Dimentions */
$innerPad: 15px;
$barHeight: 50px;
$btnHeight: 50px;
/* z-index */
$zBg: 0;
$zContent: 1;
$zBar: 100;
$zPopover: 500;
$zDropdown: 1000;
$zDropdownContent: 1010;
$zModal: 2000;
$zToast: 3000;
/* Grid System */

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%flex-start-start {
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
}

%flex-vertical-none-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%flex-vertical-start {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

%flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flex-end-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

%flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
%flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
%flex-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

%flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

%flex_column_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

%font__news-title {
  color: $nt;
  font-size: 16px;
}

%font__news {
  color: $ns;
  font-size: 14px;
}

// 计算字体转换的rem
@function fontSize ($size) {
  @return $size / 2 / 16 + rem
}
