@import '../../Public/css/utils.scss';

.article {
  height: 100%;
  .article__content {
    height: calc(100% - 60px);
    color: $contentColor;
    font-size: 18px;
  }
}

.article__count {
  padding: $paddingWidth;
  color: $pColor;
  font-size: 12px;
  margin-bottom: 20px;
  &--number {
    color: $txtColor;
  }
}

.article__content--all {
  height: 100%;
}

.article__list--content {
  padding: 0 $paddingWidth;
  height: calc(100% - 40px);
  overflow: auto;
  li {
    padding: 10px 0 0;
    border-top: 1px solid $borderColor;
    margin-bottom: 66px;
    position: relative;
  }
}

.article__infor {
  @extend %flex-center-between;
  .article__title {
    color: $contentColor;
    font-size: 28px;
  }
  .article__items {
    color: $pColor;
    font-size: 14px;
  }
}

.article__more {
  @include ab-location(0, -40px, 0, 0);
  .article__more--infor {
    @include ab-location(auto, 0, 0, 0, 100%, 30px);
    background-color: rgba(33, 33, 33, .8);
    font-size: 14px;
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
    a {
      @extend %flex-center;
      width: 100%;
      height: 100%;
      color: $txtColor;
    }
  }
  &:hover {
    .article__more--infor {
      opacity: 1;
    }
  }
}

.article__content--compile {
  padding: $paddingWidth;
  width: 100%;
  @extend %flex-vertical-none-center;
  .article__compile--container {
    flex: 1;
  }
  .article__complie--fun {
    width: 350px;
  }
  .article__card--container {
    width: 100%;
  }
  .article__btn--updata {
    height: 35px;
    background-color: $darkBtn;
    @extend %flex-center;
    transition: all 0.5s;
    &:hover {
      background-color: $darkBtnHover;
    }
  }
}

/********ArticleContainer*********/
.article__card--container {
  &--title {
    background-color: $darkTitle;
    h2 {
      padding: 0 $paddingWidth;
      font-size: 24px;
    }
  }
}

/************ END ***************/

/*mark down*/
.edit-area {
  textarea {
    width: 100%;
    margin-bottom: 0;
    resize: none;
    height: 300px;
    border: none;
    overflow: hidden;
    background-color: $darkInput;
  }
}

.markDown__full__container {
  display: block;
}

.markDown__full__not--container {
  display: none;
}

.article__content--title {
  background-color: rgba(38, 38, 38, 0.5);
  input {
    width: 100%;
    font-size: 40px;
    color: $directColor;
    padding: $paddingWidth;
    text-align: center;
    border: none;
    border-bottom: 1px solid $borderColor;
    background: transparent;
    &[placeholder] {
      color: $bg-Color;
    }
  }
}

.article__content--compile-main {
  padding: $paddingWidth 0;
}

//.public-DraftStyleDefault-block {
//  border-bottom: 1px solid #e0e0e0;
//}

.article__content {
  padding: $paddingWidth;
  background-color: $darkColor;
}

/**
* 公用部分
**/
.grid-list-tiles {
  display: flex;
  flex-direction: column;
  .grid-list-tile{
    height: 150px;
  }
}

.has-1-columns {
  .grid-list-tile {
    width: 100%;
  }
}

.has-2-columns {
  .grid-list-tile {
    width: calc(50% - 20px + 0px);
    margin-right: 40px;
    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

.has-3-columns {
  .grid-list-tile {
    width: calc(33.33333% - 26.66667px + 0px);
    margin-right: 40px;
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}

.has-4-columns {
  .grid-list-tile {
    width: calc(25% - 30px + 0px);
    margin-right: 40px;
    &:nth-child(4n + 4) {
      margin-right: 0;
    }
  }
}

.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.options {
  margin-bottom: 20px;
}

.toll__bar {
  height: 40px;
  @extend %flex-center-start;
}
